<div>
	<label>
		Search
		<input type="text">
	</label>

	<label>
		Filter
		<select>
			<option value="daily">daily</option>
			<option value="hourly">hourly</option>
		</select>
	</label>
</div>

<table>
	<thead>
	<tr>
		<th>City Name</th>
		<th>03:00</th>
		<th>06:00</th>
		<th>09:00</th>
		<th>12:00</th>
		<th>15:00</th>
		<th>18:00</th>
		<th>21:00</th>
		<th>24:00</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>New York</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
		<td>15°</td>
	</tr>
	</tbody>
</table>

